---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$transparent:	   rgba(255,255,255,0);
$brand-color:      #cdcdcd;
$brand-color-dark: #a09f9f;

$other-color:	   #cacaca;
$other-color-light:#f0f0f0;
$other-color-dark: #afafaf;
$other-color-vdark:#7f807f;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$active-nav-color: lightgrey;
$foodtime-color:   lightblue;
$g2km-color:	   lightgreen;
$nocturna-color:   lightcoral;
$stellar-color:	   lightsalmon;
$lotor-color:	   darken(lightgoldenrodyellow, 8%);

$active-nav-color-light: lighten(lightgrey, 5%);
$foodtime-color-light:   lighten(lightblue, 5%);
$g2km-color-light:	   lighten(lightgreen, 5%);
$nocturna-color-light:   lighten(lightcoral, 5%);
$stellar-color-light:	   lighten(lightsalmon, 5%);
$lotor-color-light:	   lightgoldenrodyellow;

$active-nav-color-dark: darken(lightgrey, 5%);
$foodtime-color-dark:   darken(lightblue, 5%);
$g2km-color-dark:	   darken(lightgreen, 5%);
$nocturna-color-dark:   darken(lightcoral, 5%);
$stellar-color-dark:	   darken(lightsalmon, 5%);
$lotor-color-dark:	   darken(lightgoldenrodyellow, 12%);

$slice-height:	   50px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin gradient($dir, $color) {
	@if $dir == 'right' {
		background: -moz-linear-gradient(left, $color 0%, $transparent 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, $color 0%, $transparent 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, $color 0%, $transparent 100%); 
	}

	@if $dir == 'left' {
		background: -moz-linear-gradient(right, $color 0%, $transparent 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(right, $color 0%, $transparent 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to left, $color 0%, $transparent 100%); 
	}
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

.Foodtime {
	background-color: $foodtime-color-light;
	&:hover {
		background-color: $foodtime-color;
		& a {
			color: $foodtime-color-light;
			text-shadow: 1px 1px 2px grey;
		}
	}
}

.G2KM {
	background-color: $g2km-color-light;
	&:hover {
		background-color: $g2km-color;
		& a {
			color: $g2km-color-light;
			text-shadow: 1px 1px 2px grey;
		}
	}
}

.Nocturna {
	background-color: $nocturna-color-light;
	&:hover {
		background-color: $nocturna-color;
		& a {
			color: $nocturna-color-light;
			text-shadow: 1px 1px 2px grey;
		}
	}
}

.Lotor-Keyboard {
	background-color: $lotor-color-light;
	&:hover {
		background-color: $lotor-color;
		& a {
			color: $lotor-color-light;
			text-shadow: 1px 1px 2px grey;
		}
	}
}

.Stellar-Reaction {
	background-color: $stellar-color-light;
	&:hover {
		background-color: $stellar-color;
		& a {
			color: $stellar-color-light;
			text-shadow: 1px 1px 2px grey;
		}
	}
}

a, a:hover, a:visited, a:active {
	color: inherit;
	transition: color 0.5s, text-shadow 0.5s;
}

.project-slice {
	display:inline-block;
	position:relative;
	text-align: center;
	width: 100%;
	height: $slice-height;
	color: $transparent;
	line-height: $slice-height;
	&::before {
		content: ' ';
		display: block;
	  	position: absolute;
	  	width: 20px;
	  	height: $slice-height;
	  	top:0;
	  	left:0;
	  	@include gradient(right, $other-color-light);
		transition: width 0.5s;
	}

	&::after {
		content: ' ';
		display: block;
	 	position: absolute;
	 	bottom:0;
	 	right:0;
	  	width: 20px;
	  	height: $slice-height;
	  	@include gradient(left, $other-color-light);
		transition: width 0.5s;
	}
	&:hover {
		&::before {
			width: 8px;
		}
		&::after {
			width: 8px;
		}
	}
}