---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$transparent:	   rgba(255,255,255,0);
$brand-color:      #cdcdcd;
$brand-color-dark: #a09f9f;

$other-color:	   #cacaca;
$other-color-light:#f0f0f0;
$other-color-dark: #afafaf;
$other-color-vdark:#7f807f;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$active-nav-color: lightgrey;
$foodtime-color:   lightblue;
$flashlearn-color: darken(lightcyan, 8%);
$g2km-color:	   lightgreen;
$nocturna-color:   lightcoral;
$stellar-color:	   lightsalmon;
$lotor-color:	   darken(lightgoldenrodyellow, 8%);
$blogcode-color:   lightpink;

$active-nav-color-light: lighten(lightgrey, 5%);
$foodtime-color-light:   lighten(lightblue, 5%);
$flashlearn-color-light: lightcyan;
$g2km-color-light:	   lighten(lightgreen, 5%);
$nocturna-color-light:   lighten(lightcoral, 5%);
$stellar-color-light:	   lighten(lightsalmon, 5%);
$lotor-color-light:	   lightgoldenrodyellow;
$blogcode-color-light:   lighten(lightpink, 5%);

$active-nav-color-dark: darken(lightgrey, 5%);
$foodtime-color-dark:   darken(lightblue, 5%);
$flashlearn-color-dark: darken(lightcyan, 16%);
$g2km-color-dark:	   darken(lightgreen, 5%);
$nocturna-color-dark:   darken(lightcoral, 5%);
$stellar-color-dark:	   darken(lightsalmon, 5%);
$lotor-color-dark:	   darken(lightgoldenrodyellow, 16%);
$blogcode-color-dark:   darken(lightpink, 5%);

$card-height:	   75px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin gradient($dir, $color) {
	@if $dir == 'right' {
		background: -moz-linear-gradient(left, $color 0%, $transparent 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, $color 0%, $transparent 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, $color 0%, $transparent 100%); 
	}

	@if $dir == 'left' {
		background: -moz-linear-gradient(right, $color 0%, $transparent 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(right, $color 0%, $transparent 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to left, $color 0%, $transparent 100%); 
	}
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "about",
        "project",
        "404"
;

