<!DOCTYPE html>
<html>
  {% assign category = site.my_categories | where: "name", post.category %}
  {% assign category = category[0] %}
  {% if category %}
  {% capture category_content %}<a class="label" href="{{ category.url }}">{{ category.name }}</a>{% endcapture %}
  {% endif %}
  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
        <div>
    		Also see some other things I've written:
    		{% for post in site.related_posts %}
    			<a href="{{site.url}}{{post.path}}">post.title</a>
    		{% endfor %}
    	</div>
      </div>
    </div>


    {% include footer.html %}

  </body>

</html>