<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {% if site.tags.size > 0 %}
        <ul>
        {% for tag in site.tags %}
          <li>
            <a href="{{site.url}}/tags/{{tag[0]}}">{{ tag[0]}}<span> ({{tag[1].size}})</span></a>
          </li>
        {% endfor %}
        </ul>
        {% else %}
        <h2>No tagged posts :(</h2>
        {% endif%}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
